<ul>
  <li><a href="/index">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/gallery">Gallery</a></li>
  <li><a href="/news">News</a></li>
  <li><a href="/store">Store</a></li>
</ul>