<nav>
	<ul>
		<li><a href="/"><span style="margin-right: -.125em">H</span>ome</a></li>
		<li><a href="/gallery">Gallery</a></li>
		<li><a href="/events"><span style="margin-right: -.05em">E</span>vents</a></li>
		<li><a href="/inquiries">Inquiries</a></li>
		<li><a href="/newsletter"><span style="margin-right: -.1em">N</span>ewsletter</a></li>
		<li><a href="/shop">Shop</a></li>
	</ul>
</nav>