---
layout: layouts/page.liquid
---

<style>
    p {
        margin: .25em;
    }
    h1 {
        margin-bottom: 0;
    }
    .text-width {
        max-width: 40em;
    }
</style>

<div class="p-1 flex-col text-width">
    {{ content }}
</div>