/** MARK: Reset
*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/** MARK: Colors
*/
:root {
	--color-earth: #372a2d;
	--color-clay: #762d02;
	--color-chartreuse: #c5ce27;
	--color-sage: #8f9b72;
	--color-slate: #526f75;
}
.font-earth { color: var(--color-earth); }
.font-clay { color: var(--color-clay); }
.font-chartreuse { color: var(--color-chartreuse); }
.font-sage { color: var(--color-sage); }
.font-slate { color: var(--color-slate); }
.font-white { color: white; }

/** MARK: Fonts
*/
@font-face {
	font-display: swap;
	font-family: 'Flora';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Flora.woff2') format('woff2');
}
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 300 700;
	src: url('/fonts/Quicksand[wght].woff2') format('woff2');
}
.font-quicksand { font-family: "Quicksand", sans-serif; }
.font-bold { font-weight: bold; }

/** MARK: Layout
*/
html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	color: white;
	background-color: #3F4138;
	display: flex;
	flex-direction: row;
	font-family: "Quicksand", sans-serif;
}
header {
	background: #a1a896;
}
main {
	height: 100%;
	flex-grow: 1;
}
@media (max-width: 768px) {
	body {
		flex-direction: column;
	}
	main {
		height: auto;
	}
}
.center-xy {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.text-lg {
	font-size: 1.2em;
}
.p-1 {
	padding: 1em;
}
